.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 180px 80px 120px;
  min-height: 100vh;
}

/* LEFT */
.left {
  max-width: 500px;
}

.tag {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
  color: #9FE870;
  font-size: 0.8rem;
   background: rgba(255,255,255,0.05);
}

h1 {
  font-size: 3rem;
  margin: 20px 0;
}

h1 span {
  color: #9FE870;
}

p {
  color: #bfc5c2;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.btn {
  background: #9FE870;
  color: #090D06;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* RIGHT */
.right {
  position: relative;
}

/* GLASS CARD */
.card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);

  padding: 28px;
  border-radius: 16px;

  width: 340px;

  border: 1px solid rgba(255,255,255,0.08);

  /* 🔥 subtle glow */
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.profile {
  display: flex;
  gap: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  background: #9FE870;
  color: #090D06;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.quote {
  font-size: 0.8rem;
  color: #ccc;
}

/* TEAM */
.team {
  margin-top: 2px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.team img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #bfc5c2; /* 🔥 clean overlap look */
  margin-left: -8px;
}

.team span {
  margin-left: 10px;
  font-size: 0.8rem;
  color: #bfc5c2;
}
/* STATS */
.stats {
  position: absolute;
  right: -60px;
  top: -80px;

  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.stats h2 {
  color: #9FE870;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 130px 20px;
  }

  .right {
    margin-top: 40px;
  }
}