*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: linear-gradient(135deg, #090d06, #132016);
  min-height: 100vh;
  color: white;
}